{% extends 'base.html' %}

{% block content %}
<div class="address-form">
    <h1>Find my next election</h1>
    <form method="post" action="/search">
        {{ form.csrf_token }}

        <p>Enter the address where you are registered to vote.</p>
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div>
                {{ field.label }} {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <div class="button">
            <button type="submit" value="submit">Search</button>
        </div>
    </form>
</div>
{% endblock %}
